body {
	background-color: #f8f8f8;
}
.index a {
	color: green;
	font-size: 1.2em;
}
.index li {
	list-style-type: none;
}
.product h1, .product h2 {
	color: black;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
}
.short-text-p{
	color: green;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}
.long-text-p{
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.product-text li{
	text-align: right;
	list-style-type: none;
}
input[type="text"]{
	font-weight: bold;
	height: 20px;
	width: 100%;
}
input[name="user_theme"]{
	font-style: italic;
}
textarea{
	height: 100px;
	width: 100%;
}
input[type="submit"]{
	width: 100%;
}
table{
	width: 100%;
}